<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinição enviada</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-form">
        <h1 class="form-title">📧 Redefinição de senha enviada</h1>

        <center>
          <p class="form-info">
            Nós te enviamos um email com instruções para configurar sua senha,
            se existir uma conta com o email fornecido. Você receberá a mensagem
            em breve.
          </p>
        </center>

        <p class="form-info">
          Caso não tenha recebido, verifique se inseriu o email correto e
          confirme sua pasta de spam.
        </p>
      </div>
    </div>
  </body>
</html>
